*{
    margin: 0;
    padding: 0;
}
input:focus{
    border: 2px solid #24ae8f !important;
    box-shadow: none !important;
}
button:focus{
    box-shadow: none !important;
}
body{
    /* background-color: rgba(33, 189, 64, 0.666) !important; */
    background-color: #24ae8f !important;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160vh;
}
#telaCadastro{
    width: 90%;
    background-color: #fff;
    border-radius: 20px;
    border: none;
}
.card-body{
    padding: 0;
    position: relative;
}
.card-body i{
    position: absolute;
    top: 1%;
    left: 3.5%;
    color: rgb(160, 160, 160);
    font-size: 1.6rem;
}
.title{
    font-size: 1.6rem;
    text-align: center;
    margin: 50px 0 50px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    user-select: none;
}
label{
    font-size: 1rem;
    cursor: pointer;
}

#btn-cadastro{
    /* background-color: rgba(33, 189, 64, 0.666); */
    background-color: #0f2755;
    border: none;
    outline: none;
    color: #fff;
    margin: 15px 0;
    width: 100%;
    font-size: 1.3rem;
}

#btn-cadastro:hover{
    /* background-color: rgba(10, 226, 53, 0.666); */
    background-color: #224380;
}
@media screen and (min-width: 768px){
    main{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .card-body i{
        top: 0.5%;
        left: 0.5%;
        font-size: 2rem;
    }
    #telaCadastro{
        width: 80%;
        max-width: 1100px;
        padding: 20px 20px 40px 20px;
        box-shadow: 5px 5px 5px rgba(37, 37, 37, 0.279);
    }
    .wrapper-content{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        align-items: center;
    }
    .card-body .title{
        width: 100%;
    }
    .card-body .mb-3{
        width: 20%;
        margin: 20px;
    }
    .card-body input{
        border: 1px solid rgb(0, 0, 0);
    }
    .card-body .wrapper-btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0 0 0;
    }

    #btn-cadastro{
        width: 50%;
    }
    
}