*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: rgb(225, 225, 225);
}
/* HEADER */
header{
    background-color: #24ae8f;
    padding: 30px 0;
    position: relative;
}
header i{
    position: absolute;
    top: 10%;
    left: 2%;
    color: rgba(255, 255, 255, 0.904);
    font-size: 1.6rem;
}
header span{
    margin: 0 0 0 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center; 
    text-transform: uppercase;  
}
/* CONTEÚDO */
.container{
    width: 100%;
    height: 90vh;
}
.container .wrapper-content{
    margin-top: 20%;
    padding: 0 3%;
    display: flex;
    align-items: left;
    flex-direction: column;
    font-size: 1.1rem;
    font-family: sans-serif;
}
.container .wrapper-content div{
    margin: 5px;
}
.wrapper-content button{
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
    width: 130px;
    margin: 10px;
    cursor: pointer;
    padding: 10px 0;
    font-size: 0.7rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: #24ae8f;
}
.wrapper-content .wrapper-btn{
    margin-top: 10px;
    background-color: #9e9e9e54;
    display: flex;  
    justify-content: center;
    flex-direction: row;
}
@media screen and (min-width: 768px){
    header i{
        top: 30%;
        left: 1%;
        font-size: 2.3rem;
    }
    
    header span{
        display: initial;
    }
    /* CONTEÚDO */
    .container{
        display: flex;  
        justify-content: center;
    }
    .container .wrapper-content div{
        margin: 10px;
        width: 100%;
    }
    .container .wrapper-content{
        width: 80%;
        margin: 10% 0 0 0;
        flex-direction: row;
    }
    .container{
        height: auto;
    }
    .wrapper-content .wrapper-btn{
        width: 10%;
        background-color: transparent;
    }
}